<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="images/icon.png" rel="shortcut icon" type="image/png">
    <link href="assets/libraries/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="assets/libraries/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="assets/css/trackpad-scroll-emulator.css" rel="stylesheet" type="text/css">
    <link href="assets/css/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery.raty.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/explorer.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/loader.css" rel="stylesheet" type="text/css">
    <style>
        td{
          color:black;
        }
      </style>
    <title>Bookings- iMakeapp</title>
  </head>
  <body class="" ng-app="loginApp" ng-controller="viewingController" ng-init="loadContent()">
      <div id="preloader">
          <div id="loader"></div>
        </div>
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
               <a href="dashboard.html" class="header-title"> <img src="images/logo-wide-white.png" alt=""></a>
              </div>
              <!-- /.header-logo -->
              <div class="header-nav">
                <div class="primary-nav-wrapper">
                  <ul class="nav">
                    <li class="nav-item ">
                      <a href="dashboard.html" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item ">
                      <a href="listings-google-map.html" class="nav-link ">Map</a>
                    </li>
                    <li class="nav-item has-sub-menu">
                      <a href="#" class="nav-link ">Salons &amp; Stylists</a>
                        <ul class="sub-menu">
                        <li><a href="salons.html" class="">Salons</a></li>
                        <li><a href="stylist.html" class="">Stylists</a></li>
                         </ul> 
                    </li>
                    <li class="nav-item ">
                      <a href="products.html" class="nav-link ">Product</a>
                      <!-- /.mega-menu -->
                    </li>
                    <li class="nav-item ">
                      <a href="PriceList.html" class="nav-link ">Pricelist</a>
                    
                    </li>
                  </ul>
                </div>
                <!-- /.primary-nav-wrapper -->
              </div>
              <div class="header-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-actions">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a href="#" class="nav-link modal-submit">Add Booking</a>
                  </li>
                </ul>
              </div>
              <!-- /.header-actions -->
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>
      <!-- /.header-wrapper -->
      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>Your Bookings</h1>
                <div class="row" ng-if="loading" style="position: absolute;right:150px;margin-top:15px;">
                    <center>
                        <img style="width: 20px;" src="css/lightbox/load.gif" alt="logo"/>
                    </center>
                </div>
                <button class="btn btn-info" ng-click="loadContent()" style="position: absolute;right:50px;margin-top:10px;">Refresh</button>
                
                </div>
                <!-- /.page-title-actions -->
              </div>
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
           <div class="container">
  <header class="page-header">
  </header>

  <table class="table table-inverse">
    <tr>
        <th>Booking Status</th>
        <th>Booked Service</th>
        <th>Stylist ID</th>
        <th>Service Location</th>
        <th>Service Time</th>
        <th>Service Date</th>
    </tr>
    <tr ng-repeat="booking in bookinglist">
        <td>{{booking.booking_status}}</td>
        <td>{{booking.booked_service}}</td>
        <td>{{booking.stylist_id}}</td>
        <td>{{booking.service_location}}</td>
        <td>{{booking.service_time}}</td>
        <td>{{booking.service_date}}</td>
    </tr>
</table>
</div>




    
      <!-- /.footer-wrapper -->
    </div>
    <!-- /.page-wrapper -->
        </div>
      </div>
    </div>


    <div class="side-wrapper">
      <div class="side">
        <div class="side-inner">
          <div class="side-user">
            <span class="avatar" style="background-image: url('../assets/img/tmp/user-10.jpg');"></span>
            <span class="side-user-avatar-name">
              <strong>{{clientNames}}</strong>
              <span> {{clientSnames}}</span>
            </span>
            <a href="#" class="side-user-avatar-action">
              <i class="fa fa-cog"></i>
            </a>
          </div>
          <!-- /.side-user -->
            <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Bookings</a></li>
            <li class="nav-item"><a href="notification.html" class="nav-link">Notification</a></li>
            <li class="nav-item"><a href="https://imakapp.com" class="nav-link">Sign Out</a></li>
          </ul>
        </div>
      </div>
      <!-- /.side -->
    </div>
    <!-- /.side-wrapper -->
    <div class="side-overlay"></div>
    <!-- /.side-overlay -->


      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js'></script>
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/chartist.min.js"></script>
    <script type="text/javascript" src="assets/js/google-map-richmarker.min.js"></script>
    <script type="text/javascript" src="assets/js/google-map-infobox.min.js"></script>
    <script type="text/javascript" src="assets/js/google-map-markerclusterer.js"></script>
    <script type="text/javascript" src="assets/js/google-map.js"></script>
    <script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.inlinesvg.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.affix.js"></script>
    <script type="text/javascript" src="assets/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="assets/libraries/slick/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/nouislider.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.raty.js"></script>
    <script type="text/javascript" src="assets/js/wNumb.js"></script>
    <script type="text/javascript" src="assets/js/particles.min.js"></script>
    <script type="text/javascript" src="assets/js/explorer.js"></script>
    <script type="text/javascript" src="assets/js/explorer-map-search.js"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="framework/angular_modules/controllers/loginClientController.js"></script>


    <script type="text/javascript">
      setTimeout(function(){ $('#preloader').fadeOut('slow') }, 2000);
    </script>
  </body>
</html>