<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link href="css/calender2.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="assets/libraries/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="images/icon.png" rel="shortcut icon" type="image/png">
    <link href="assets/libraries/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="assets/css/trackpad-scroll-emulator.css" rel="stylesheet" type="text/css">
    <link href="assets/css/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery.raty.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/explorer.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="assets//favicon.png">
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/loader.css" rel="stylesheet" type="text/css">
    <link href="css/modal.css" rel="stylesheet" type="text/css">
    <link href="css/modalss.css" rel="stylesheet" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=AIzaSyAKoSezP6EU1e2BUw5Es-8F5mT2yYgLp9o" type="text/javascript"></script>
    <script  src="js/calender2.js"></script>
    <script src='js/index.js'></script>
     <script  src="js/calender2.js"></script>
    <script  src="js/report.js"></script>
    <script src="framework/angular_modules/controllers/stylistLoginController.js"></script>
    <title>Profile - iMakeapp</title>
   </head>
  <body class="" ng-app="Imakapp">
      <div id="preloader">
          <div id="loader"></div>
        </div>
    <div class="page-wrapper" ng-controller="profileController">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
               <a href="dashboard.html" class="header-title"> <img src="images/logo-wide-white.png" alt=""></a>
              </div>
                <!-- /.header-logo -->
              <div class="header-nav">
                <div class="primary-nav-wrapper">
                  <ul class="nav">
                    <li class="nav-item ">
                      <a href="dashboard.html" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item ">
                      <a href="listings-google-map.html" class="nav-link ">Map</a>
                    </li>
                    <li class="nav-item has-sub-menu">
                      <a href="#" class="nav-link ">Salons &amp; Stylists</a>
                        <ul class="sub-menu">
                        <li><a href="salons.html" class="">Salons</a></li>
                        <li><a href="stylist.html" class="">Stylists</a></li>
                         </ul> 
                    </li>
                    <li class="nav-item">
                      <a href="Products.html" class="nav-link ">Products</a>
                    </li>
                    <li class="nav-item ">
                      <a href="pricelist.html" class="nav-link ">Pricelist</a>
                      <!-- /.mega-menu -->
                  </ul>
                </div>
                <!-- /.primary-nav-wrapper -->
              </div>
             
              <!-- /.header-toggle -->
         <div class="header-actions">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a href="#" class="nav-link modal-submit" id="modal-action-submit" data-toggle="modal" data-target="#modal-submit">
                        <i class="fa fa-plus"></i> <span>Add Booking</span>
                      </a>
                    </li>
                  </ul>
              </div>
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>
     <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>User Profile Edit
                </h1>
                <div class="page-title-actions">
      
                </div>
                <!-- /.page-title-actions -->
              </div>
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container" ng-view="">
             <form>
              <div class="box">
                <div class="box-inner">
                  <h3 class="page-title-small">Contact Information</h3>
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label>Name</label>
                      <input type="text" class="form-control" ng-model="stylistName" value="{{stylistName}}">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-6">
                      <label>Surname</label>
                      <input type="text" class="form-control" ng-model="stylistSname" value="{{stylistSname}}">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-6">
                      <label>E-mail</label>
                      <input type="text" class="form-control" ng-model="stylistEmail" value="{{stylistEmail}}">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-6">
                      <label>Phone</label>
                      <input type="text" class="form-control" ng-model="stylistContact" value="{{stylistContact}}">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.row -->
                  
                  <!-- /.form-group -->
                  <h3 class="page-title-small">Address</h3>
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label>State</label>
                      <input type="text" class="form-control" value="New York">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-6">
                      <label>City</label>
                      <input type="text" class="form-control" value="New York City">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-6">
                      <label>Street</label>
                      <input type="text" class="form-control" value="Everton Eve">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group col-sm-3">
                      <label>House Number</label>
                      <input type="text" class="form-control" value="123">
                    </div>
                    <!-- /.form-group -->
                  </div>
                </div>
                <!-- /.box-inner -->
              </div>
              <h3 class="page-title-small">Social Connections</h3>
                  <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" class="form-control" value="http://facebook.com/">
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Twitter</label>
                    <input type="text" class="form-control" value="http://twitter.com/">
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Linkedin</label>
                    <input type="text" class="form-control" value="http://linkedin.com/">
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Dribbble</label>
                    <input type="text" class="form-control" value="http://dribbble.com/">
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Instagram</label>
                    <input type="text" class="form-control" value="http://instagram.com/">
                  </div>
                  <input type="submit" value="Update" ng-click="updateProfile()">
              <!-- /.box -->
            </form>
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
    </div>

                                                     <div id="modal-submit" class="modal fade"  ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl">
                                                        <div class="modal-dialog" role="document" >
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              <form method="post" action="?" ng-controller='bookingController' ng-submit="makeBooking(obj)">
                                                               
                                                                <fieldset class="container-fluid" >
                                                                  <legend>Booking Information</legend>
                                                                  <div class="row">
                                                                    <div class="col-sm-6">
                                                                      <div class="form-group">
                                                                       <label>Stylist</label>
                                                                       <input class="form-control" ng-model="obj.stylistId" placeholder="enter a state" typeahead="service.id as service.name for service in serviceList">
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label>Email</label>
                                                                        <select class="form-control" ng-model="obj.stylistId" ng-options="stylist.style_id as stylist.email for stylist in stylistList">
                                                                          <option value="">User</option>
                                                                        </select>
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label>Phone Number</label>
                                                                       <select class="form-control" ng-model="obj.stylistId" ng-options="stylist.style_id as stylist.contact_number for stylist in stylistList">
                                                                          <option value="">Default</option>
                                                                        </select>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-md-6 col-lg-4">
                                                                        <div class="listing-box">
                                                                          <div class="listing-box-inner">
                                                                            <a href="agents-detail.html" class="listing-box-image">
                                                                              <span class="listing-box-image-content" ng-model="obj.stylistId" style="background-image: url()"></span><!-- /.listing-box-image-content -->
                                                                            </a><!-- /.listing-box-image -->
                                                                      
                                                                            <div class="listing-box-attributes" ng-model="obj.stylistId" >
                                                                              <dl>
                                                                                <dt >Full Name</dt>
                                                                                <dd>User</dd>
                                                                              </dl>
                                                                            </div>
                                                                            <!-- /.listing-box-attributes -->
                                                                          </div>
                                                                          <!-- /.listing-box-inner -->
                                                                        </div>
                                                                        <!-- /.listing-box -->
                                                                      </div>
                                                                  <!-- /.row -->
                                                                </fieldset>
                                                                <fieldset >
                                                                  
                                                                   
                                                        <div  class="app-container"  ng-cloak>
                                                      
                                                    <div date-picker
                                                       datepicker-title="Select Date"
                                                       picktime="true"
                                                       pickdate="true"
                                                       pickpast="false"
                                                       mondayfirst="false"
                                                       custom-message="You have selected"
                                                       selecteddate="ctrl.selected_date"
                                                       updatefn="ctrl.updateDate(newdate)">
                                                    
                                                      <div class="datepicker"
                                                         ng-class="{
                                                          'am': timeframe == 'am',
                                                          'pm': timeframe == 'pm',
                                                          'compact': compact
                                                        }">
                                                        <div class="datepicker-header">
                                                          <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                                                          <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                                                        </div>
                                                        <div class="datepicker-calendar">
                                                          <div class="calendar-header">
                                                            <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                                                              <svg width="30" height="30">
                                                                <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                                                              </svg>
                                                            </div>
                                                            <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                                                            <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                                                              <svg width="30" height="30">
                                                                <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                                                              </svg>
                                                            </div>
                                                          </div>
                                                          <div class="calendar-day-header">
                                                            <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                                                          </div>
                                                          <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                                                            <div
                                                              ng-class="{'no-hover': !day.showday}"
                                                              ng-repeat="day in month"
                                                              class="datecontainer"
                                                              ng-style="{'margin-left': calcOffset(day, $index)}"
                                                              track by $index>
                                                              <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                                                                {{ day.daydate }}
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="timepicker" ng-if="picktime == 'true'">
                                                          <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                                                            <div class="timepicker-container-outer" selectedtime="time" timetravel>
                                                              <div class="timepicker-container-inner">
                                                                <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                                                                  <div class="current-time">
                                                                    <div class="actual-time">{{ time }}</div>
                                                                  </div>
                                                                  <div class="timeline">
                                                                  </div>
                                                                  <div class="hours-container">
                                                                    <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                                                                  </div>
                                                                </div>
                                                                <div class="display-time">
                                                                  <div class="decrement-time" ng-click="adjustTime('decrease')">
                                                                    <svg width="24" height="24">
                                                                      <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                                                    </svg>
                                                                  </div>
                                                                  <div class="time" ng-class="{'time-active': edittime.active}">
                                                                    <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                                                                    <div class="formatted-time">{{ edittime.formatted }}</div>
                                                                  </div>
                                                                  <div class="increment-time" ng-click="adjustTime('increase')">
                                                                    <svg width="24" height="24">
                                                                      <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                                                    </svg>
                                                                  </div>
                                                                </div>
                                                                <div class="am-pm-container">
                                                                  <div class="am-pm-button" ng-click="changetime('am');">am</div>
                                                                  <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="buttons-container">
                                                          <div class="cancel-button">CANCEL</div>
                                                          <div class="save-button">SAVE</div>
                                                        </div>
              </fieldset>
              <fieldset>
                
                <div class="row">
                  <div class="col-sm-6">
                    <div id="location-google-map" style="height: 450px;"></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Booking Date</label>
                      <select class="form-control">
                        <option date-picker
                                                       picktime="true"
                                                       pickdate="true"
                                                       pickpast="false"
                                                       mondayfirst="false"
                                                       updatefn="ctrl.updateDate(newdate)" value="ctrl.selected_date">R0,00</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Booking Time</label>
                      <input type="text" class="form-control" id="listing_location_latitude">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Service</label>
                      <select class="form-control" ng-model="obj.bookedService" placeholder="enter a state" ng-options="service.id as service.name for service in serviceList">
                          <option value="" disabled>Select Service</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Total Cost</label>
                      <select class="form-control" ng-model="obj.bookedService" ng-options="service.id as service.price for service in serviceList">
                        <option value="">R0,00</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Payment Method</label>
                      <select class="form-control">
                        <option value="">Cash</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> I agree with terms &amp; conditions
                  </label>
                </div>
                  </div>

                </div>
                <!-- /.row -->
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Request Booking</button>
          </div>
        </div>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side">
        <div class="side-inner">
          <div class="side-user">
            <span class="avatar" style="background-image: url('../assets/img/tmp/user-10.jpg');"></span>
          <span class="side-user-avatar-name">
              <strong>User Name</strong>
              <span>Surname</span>
            </span>
            <a href="https://www.imakapp.com/user-profile-edit.html" class="side-user-avatar-action">
              <i class="fa fa-cog"></i>
            </a>
          </div>
          <!-- /.side-user -->
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="framework/booking.html" class="nav-link">Bookings</a></li>
            <li class="nav-item"><a href="Notification.html" class="nav-link">Notification</a></li>
            <li class="nav-item"><a href="https://www.imakeapp.com" class="nav-link">Sign Out</a></li>
          </ul>
          <h3>Stylist Login</h3>
          <form class="form-dark" ng-controller="stylistController">
            <!-- /.side-user
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            /.form-group
            <div class="form-group">
              <input type="password" class="form-control" placeholder="password">
            </div> -->
            <!-- /.form-group -->
            <button class="btn btn-primary pull-right" type="submit"><a href="framework/stylistLogin.html">Login</a></button>
          </form>
        </div>
        <!-- /.side-inner -->
      </div>
      <!-- /.side -->
    </div>
    <!-- /.side-wrapper -->
    <div class="side-overlay"></div>
    <!-- /.side-overlay -->

    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/google-map.js"></script>
    <script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.inlinesvg.min.js"></script>
    <script type="text/javascript" src="assets/libraries/slick/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.raty.js"></script>

    <script type="text/javascript" src="assets/js/explorer.js"></script>
    <script type="text/javascript" src="assets/js/explorer-map-search.js"></script>
    <script type="text/javascript">
      setTimeout(function(){ $('#preloader').fadeOut('slow') }, 2000);
    </script>
  </body>
</html>