<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo-wide-white.png">
 
         <link href="css/calender2.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="assets/libraries/slick/slick.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo-wide-white.png">
    <link href="assets/libraries/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="assets/css/trackpad-scroll-emulator.css" rel="stylesheet" type="text/css">
    <link href="assets/css/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery.raty.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/explorer.css" rel="stylesheet" type="text/css">
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/loader.css" rel="stylesheet" type="text/css">
    <link href="css/modal.css" rel="stylesheet" type="text/css">
    <link href="css/modalss.css" rel="stylesheet" type="text/css">
   
    <style>
        .search-places-results {
            z-index: 1;
            margin-left: 23px;
            margin-top: 45px;
        }

        .formReport{
          background-color:rgb(255,255,255);
          padding:30px;
        }
        
        .input-group-addon.no-border {
            border: 0;
            padding: 15px;
        }
     
      @media only screen and (max-width: 500px) {
        h1.hero-image-content-title-simple{
          font-size: 23pt;
        }
        .hero-image-content p{
          font-size: 10pt;
        }

        .header-actions{
          display: block;
          position: absolute;
          right: 30px;
        }

        .justify-content-sm-center{
          z-index: -1;
        }
        .hero-image-category {
          background-color: rgba(255, 255, 255, 0.16);
          border-radius: 2px;
          display: inline-block;
          margin: 1px 7px;
          padding: 8px 23px;
          transition: all .2s ease;
          width: 96px;
        }

        .hero-image-categories {
            bottom: 24px;
            left: 0;
            position: absolute;
            text-align: center;
            right: 0;
        }

        .center{
          margin-top: -111px;
        }

        .input-group-addon.no-border {
            border: 0;
            padding: 15px;
        }

        .search-places-results {
            z-index: 99999;
            margin-left: 10px;
            margin-top: 45px;
        }

        .formReport {
          margin-left: -20px;
          margin-top: 31px;
        }

    }
    </style>
    
 <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=AIzaSyAKoSezP6EU1e2BUw5Es-8F5mT2yYgLp9o" type="text/javascript"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js'></script>
 <script  src="js/calender2.js"></script>
 <script src='js/index.js'></script>


    <title>Stylist- imakapp</title>
 </head>
  <body class="">
      <div id="preloader">
          <div id="loader"></div>
        </div>
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
               <a href="dashboard.html" class="header-title"> <img src="images/logo-wide-white.png" alt=""></a>
              </div>
              <!-- /.header-logo -->
              <div class="header-nav">
                  <div class="primary-nav-wrapper">
                      <ul class="nav">
                        <li class="nav-item ">
                          <a href="dashboard.html" class="nav-link ">Dashboard</a>
                        </li>
                        <li class="nav-item ">
                          <a href="listings-google-map.html" class="nav-link ">Map</a>
                        </li>
                        <li class="nav-item has-sub-menu">
                          <a href="#" class="nav-link ">Salons &amp; Stylists</a>
                            <ul class="sub-menu">
                            <li><a href="salons.html" class="">Salons</a></li>
                            <li><a href="stylist.html" class="">Stylists</a></li>
                             </ul> 
                        </li>
                        <li class="nav-item">
                          <a href="clientNotifications.html" class="nav-link ">Notifications</a>
                        </li>
                        <li class="nav-item">
                          <a href="clientBook.html" class="nav-link ">Bookings</a>
                        </li>
                      </ul>
                    </div>
                <!-- /.primary-nav-wrapper -->
              </div>
              <div class="header-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-actions">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a href="#" class="nav-link modal-submit" >Add Booking</a>
                  </li>
                </ul>
              </div>
              <!-- /.header-actions -->
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>
      <!-- /.header-wrapper -->
      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>Stylists
                </h1>
             
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container">
           
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <div class="sort-options">
                   
                    <ul class="sort-order">
                      
                    </ul>
                    <ul class="sort-by">
                      
                    </ul>
                  </div>
                  <!-- /.sort-options -->
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(https://imakapp.blob.core.windows.net/image/web/assets/img/tmp/team-1.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Thomas carl</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team2.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Micheal Paul</a></h2>
                            <h3>Durban</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team3.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Rosi Crisp</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team4.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Henry Doe</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team5.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Kylee R. Baker</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team6.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Linda A. Libby</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team7.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Anita D. Smith</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team8.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Laura James</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" style="background-image: url(images/team2.jpg)"></span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                          <div class="listing-box-content">
                            <h2><a href="agents-detail.html">Kim A. Makin</a></h2>
                            <h3>726 Nancy Street, Durham, NC 27704</h3>
                            <div class="actions">
                              <div class="actions-button">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <!-- /.actions-button -->
                              <ul class="actions-list">
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Add to favorites</a></li>
                                <li><a href="#">Report listing</a></li>
                              </ul>
                              <!-- /.actions-list -->
                            </div>
                            <!-- /.actions -->
                          </div>
                          <!-- /.listing-box-content -->
                          <div class="listing-box-attributes">
                            <dl>
                              <dt>E-mail</dt>
                              <dd><a href="mailto:info@example.com">info@example.com</a></dd>
                              <dt>Location</dt>
                              <dd>Durban</dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                    <!-- /.col-* -->
                  </div>
                  <!-- /.row -->
                  <ul class="pagination pull-right">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
                <!-- /.col -->
                <div class="col-md-4 col-lg-3">
                  <div class="sidebar">
                    <div class="widget">
                      <h3 class="widgettitle">Search For Stylist</h3>
                      <div class="search">
                        <form method="get" action="?">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search the site" class="form-control">
                          </div>
                          <!-- /.form-group -->
                        </form>
                      </div>
                      <!-- /.search -->
                    </div>
                    <!-- /.widget -->
                    <div class="widget">
                      <h2 class="widgettitle">Public Documents</h2>
                      <div class="documents">
                        <a class="document" href="#">
                          <i class="fa fa-file-image-o"></i> <span>Instagram Gallery</span>
                        </a>
                        <a class="document" href="#">
                          <i class="fa fa-file-excel-o"></i> <span>Detailed Product List</span>
                        </a>
                      </div>
                      <!-- /.documents -->
                    </div>
                    <div class="widget">
                      <h3 class="widgettitle">Top Rated Salons</h3>
                      <div>
                        
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-19.jpg);">
                              <span class="listing-row-medium-featured">Featured</span><!-- /.listing-row-medium-featured -->
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Industrial</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Coffee Shop</a></h4>
                              <div class="listing-row-medium-address">
                                3006 Par Drive Santa Monica
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-11.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$342.00</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Computers</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Kebab Restaurant</a></h4>
                              <div class="listing-row-medium-address">
                                463 Davis Lane Denver
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-24.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$923.00</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Business</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Little Tavern</a></h4>
                              <div class="listing-row-medium-address">
                                2164 Hilltop Haven Drive Newark
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                      </div>
                    </div>
                  
                  </div>
                  <!-- /.sidebar -->
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
          <footer id="footer" class="footer divider parallax layer-overlay overlay-dark-9" data-bg-img="images/bg/bg7.jpg" data-parallax-ratio="0.7">
    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">Copyright &copy;2017 <a href="https://daedalusdigital.co.za">Daedalus Digital</a>. All Rights Reserved</p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="faq.html">FAQ</a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
    </div>

    <div id="modal-submit" class="modal fade"  ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl">
      <div class="modal-dialog" role="document" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ng-controller='bookingController' ng-submit="makeBooking(obj)">
                
              <fieldset class="container-fluid" >
                <legend>Booking Information</legend>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                     <label>Stylist</label>
                      <select class="form-control" required ng-model="obj.stylistId" ng-options="stylist.firstname for stylist in stylistList track by stylist.style_id" ng-change="onChangeSelectedUser(selectedStylist)">
                          <option value="" disabled>Select Stylist</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" ng-model="obj.stylistId.stylist_email" class="form-control" placeholder="Email Address" disabled/>
                    </div>
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input type="text" ng-model="obj.stylistId.stylist_contact_number" class="form-control" placeholder="Phone Number" disabled/>
                  </div>
                  <div class="form-group">
                    <label>Stylist Location</label>
                    <input type="text" ng-model="obj.stylistId.salon_physical_address" class="form-control" placeholder="Physical Address" disabled/>
                </div>
                </div>
                <div class="col-md-6 col-lg-4">
                      <div class="listing-box">
                        <div class="listing-box-inner">
                          <a href="agents-detail.html" class="listing-box-image">
                            <span class="listing-box-image-content" ng-model="obj.stylistId.profile">
                              <img ng-src="{{obj.stylistId.stylist_profile_pic}}" alt="" />
                              </span><!-- /.listing-box-image-content -->
                          </a><!-- /.listing-box-image -->
                    
                          <div class="listing-box-attributes" ng-model="obj.stylistId" >
                            <dl>
                              <dt ><div ng-bind="obj.stylistId.firstname">Firstname</div></dt>
                              <dd><div ng-bind="obj.stylistId.surname">Lastname</div></dd>
                            </dl>
                          </div>
                          <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                      </div>
                      <!-- /.listing-box -->
                    </div>
                <!-- /.row -->
              </fieldset>
              <fieldset >
                
                 
      <div  class="app-container"  ng-cloak>
    
  <div date-picker
     datepicker-title="Select Date"
     picktime="true"
     pickdate="true"
     pickpast="false"
     mondayfirst="false"
     custom-message="You have selected"
     selecteddate="ctrl.selected_date"
     updatefn="ctrl.updateDate(newdate)">
  
    <div class="datepicker"
       ng-class="{
        'am': timeframe == 'am',
        'pm': timeframe == 'pm',
        'compact': compact
      }">
      <div class="datepicker-header">
        <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
        <div class="datepicker-subheader">{{ localdate.getDate() }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getFullYear() }}</div>
      </div>
      <div class="datepicker-calendar">
        <div class="calendar-header">
          <div class="goback" ng-click="moveBack()" ng-if="pickdate">
            <svg width="30" height="30">
              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
            </svg>
          </div>
          <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
          <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
            <svg width="30" height="30">
              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
            </svg>
          </div>
        </div>
        <div class="calendar-day-header">
          <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
        </div>
        <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
          <div
            ng-class="{'no-hover': !day.showday}"
            ng-repeat="day in month"
            class="datecontainer"
            ng-style="{'margin-left': calcOffset(day, $index)}"
            track by $index>
            <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
              {{ day.daydate }}
            </div>
          </div>
        </div>
      </div>
      <div class="timepicker" ng-if="picktime == 'true'">
        <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
          <div class="timepicker-container-outer" selectedtime="time" timetravel>
            <div class="timepicker-container-inner">
              <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                <div class="current-time">
                  <div class="actual-time" >{{ time }}</div>
                </div>
                <div class="timeline">
                </div>
                <div class="hours-container">
                  <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                </div>
              </div>
              <div class="display-time">
                <div class="decrement-time" ng-click="adjustTime('decrease')">
                  <svg width="24" height="24">
                    <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                  </svg>
                </div>
                <div class="time" ng-class="{'time-active': edittime.active}">
                  <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                  <div class="formatted-time" contenteditable="false" ng-model="obj.date">{{ edittime.formatted }}</div>
                </div>
                <div class="increment-time" ng-click="adjustTime('increase')">
                  <svg width="24" height="24">
                    <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                  </svg>
                </div>
              </div>
              <div class="am-pm-container">
                <div class="am-pm-button" ng-click="changetime('am');">am</div>
                <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  
  </div>
</div>
</div>

</fieldset>
<fieldset>

<div class="row">
<div class="col-sm-6">
<div id="location-google-map" style="height: 450px;"></div>
</div>
<div class="col-sm-6">
<div class="form-group" class="time" ng-class="{'time-active': edittime.active}">
<label>Booking Date</label>
<input type="text" id="serviceDate" ng-model="newDateSelected" class="form-control" disabled />
</div>
<!-- /.form-group -->
<div class="form-group">
<label>Booking Time</label>
<input type="hidden"  class="form-control" id="listing_location_latitude">
<input type="text" id="serviceTime" ng-model="newTimeSelected" class="form-control" disabled />
</div>
<!-- /.form-group -->
<div class="form-group">
<label>Service</label>
<select class="form-control" required ng-model="obj.bookedService" ng-options="service.name for service in serviceList track by service.id">
<option value="" disabled>Select Service</option>
</select>
</div>
<!-- /.form-group -->
<div class="form-group">
<label>Total Cost</label>
<input type="text" class="form-control" disabled ng-model="obj.bookedService.price" disabled/>

</div>
<!-- /.form-group -->
<div class="form-group">
<label>Payment Method</label>
<select class="form-control" disabled>
<option value="">Cash</option>
</select>
</div>
<!-- /.form-group -->
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input" required /> I agree with terms &amp; conditions
</label>
</div>
</div>

</div>
<!-- /.row -->
</fieldset>
<div class="modal-footer row">
<input type="submit" class="btn btn-primary" value="Request Booking"/>
<div class="row" ng-if="loading" style="position: absolute;right:450px;margin-top:3px;">
  <center>
      <img style="width: 20px;" src="css/lightbox/load.gif" alt="logo"/>
  </center>
</div>
</div>
</form>
</div>

</div>
</div>
</div>   
   <div class="side-wrapper" ng-controller="bookingController">
      <div class="side">
        <div class="side-inner">
          <div class="side-user">
            <span class="avatar" style="background-image: url('#');"></span>
          <span class="side-user-avatar-name">
              <strong ng-bind="clientname"></strong>
              <span ng-bind="clientsname"></span>
            </span>
            <a href="https://www.imakapp.com/user-profile-edit.html" class="side-user-avatar-action">
              <i class="fa fa-cog"></i>
            </a>
          </div>
          <!-- /.side-user -->
          <ul class="nav flex-column">
            <li class="nav-item"><a href="clientProfile.html" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="clientBook.html" class="nav-link">Bookings</a></li>
            <li class="nav-item"><a href="clientNotifications.html" class="nav-link">Notification</a></li>
            <li class="nav-item"><a href="https://www.imakapp.com" class="nav-link">Sign Out</a></li>
          
        </div>
        <!-- /.side-inner -->
      </div>
      <!-- /.side -->
    </div>
    <!-- /.side-wrapper -->
    <div class="side-overlay"></div>
     <!-- /.side-overlay -->
     
  
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/google-map.js"></script>
    <script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.inlinesvg.min.js"></script>
    <script type="text/javascript" src="assets/libraries/slick/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.raty.js"></script>

    <script type="text/javascript" src="assets/js/explorer.js"></script>
    <script type="text/javascript" src="assets/js/explorer-map-search.js"></script>
    <script type="text/javascript">
      setTimeout(function(){ $('#preloader').fadeOut('slow') }, 2000);
    </script>
  </body>
</html>